@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 145 12% 95%;
    --foreground: 152 40% 9%;
    --card: 0 0% 100%;
    --card-foreground: 152 40% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 152 40% 9%;
    --primary: 148 61% 26%;
    --primary-foreground: 0 0% 100%;
    --primary-dark: 150 61% 19%;
    --secondary: 145 20% 93%;
    --secondary-foreground: 152 40% 9%;
    --muted: 145 15% 90%;
    --muted-foreground: 152 17% 50%;
    --accent: 90 60% 41%;
    --accent-foreground: 0 0% 100%;
    --accent-light: 90 60% 94%;
    --destructive: 4 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --destructive-light: 4 60% 95%;
    --border: 150 20% 85%;
    --input: 150 20% 85%;
    --ring: 148 61% 26%;
    --radius: 1rem;
    --gold: 48 88% 38%;
    --blue: 207 72% 38%;
    --blue-light: 210 50% 94%;
    --text-2: 150 20% 25%;
    --sidebar-w: 260px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: 'Nunito', sans-serif;
    @apply bg-background text-foreground;
  }
}

@layer components {
  .font-display {
    font-family: 'Playfair Display', serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
